* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: row;
}

.inputSection {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 6px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.sectionHead {
    display: flex;
    justify-content: space-between;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.sub-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 6px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}